@model Budget.Models.Account

@{

    Layout = null;
}


EDIT CODE
<button class="ed" data-id="@Model.Id" id="@Model.Id" type="button" style="border: none; background-color: transparent; display:inline;" onclick="AccountName(id)"><i class="fa fa-edit"></i></button>