@model IEnumerable<Budget.Models.BudgetItemViewModel>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/TemplateLayout.cshtml";
}

<h3>Budget items for household:  @Html.Raw(Model.First().HouseholdName)</h3> 

@Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })