@model Budget.Models.TransactionViewModel

@{
    Layout = "~/Views/Shared/TemplateLayout.cshtml";
}


<h3>Confirm deletion of the transaction @Html.Raw(Model.Name).</h3>

@using (Html.BeginForm("DeleteTransaction", "Household", FormMethod.Post,
                                                                            new { enctype = "Multipart/form-data" }))
{
    @Html.AntiForgeryToken()

        <div class="col-md-2">
            <input type="hidden" value="@Model.AccountId" name="AccountId" />
            <input type="submit" value="Confirm Deletion" class="btn btn-default" />
        </div>

   
}