@model Budget.Models.InvitationViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/TemplateLayout.cshtml";
}

<h3>@ViewBag.Message</h3>

<h4>@Html.ActionLink("Back to Household Management","Index","Household")</h4>